<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <!-- <app-header></app-header> -->
  <!-- <app-login></app-login> -->
  <router-outlet></router-outlet>
  <!-- <div style="width: 700px;height: 700px;">
    <router-outlet></router-outlet>
  </div> -->

  <!-- <router-outlet></router-outlet> -->

</div>








<!--  <h2>My First Angular Application</h2>
 <h3>{{value}}</h3>
</div>

<ul *ngIf="products">
  <li *ngFor="let product of products">{{product}}</li>
</ul>
<ul *ngIf="!items">No Items Found</ul> -->